<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="margin-right: 50px">MEAN Stack Project</span>
    <button mat-button routerLink="/register">Register</button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/userStocks">User Stocks</button>
  </mat-toolbar-row>
 </mat-toolbar>

<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->

<router-outlet></router-outlet>
